.picture-frame::before,
.picture-frame::after {
	@apply tw-bg-white;
	content: " ";
	display: block;
	height: 50px;
	position: absolute;
	top: -40px;
	width: 3px;
}

.picture-frame::before {
	transform: rotate(45deg);
	left: 44px;
}

.picture-frame::after {
	transform: rotate(-45deg);
	right: 46px;
}
