.picture-frame::before,
.picture-frame::after {
	@apply tw-bg-white;
	content: " ";
	display: block;
	height: 50px;
	position: absolute;
	top: -40px;
	width: 1px;
}

.picture-frame::before {
	transform: rotate(45deg);
	left: 46px;
}

.picture-frame::after {
	transform: rotate(-45deg);
	right: 46px;
}

.picture-frame--portrait::before,
.picture-frame--portrait::after {
	height: 24px;
	top: -17px;
}

.picture-frame--portrait::before {
	transform: rotate(-40deg);
}

.picture-frame--portrait::after {
	transform: rotate(40deg);
}
