.dfr-Select select {
	@apply tw-px-1 tw-py-1.5;
	background-color: var(--dfr-bg-color-tertiary);
	border-radius: 0;
	border: 1px solid var(--dfr-border-color-primary);
	height: 37px;
	width: 100%;
}

.dfr-Select select:focus-within,
.dfr-Select select:focus {
	border-radius: 0;
	outline-color: var(--dfr-text-color-gs-400);
	outline-style: solid;
	outline-width: 1px;
}
