/* Spacing: parent components */
.dfr-MDXContent--default > blockquote,
.dfr-MDXContent--default > hr,
.dfr-MDXContent--default > ol,
.dfr-MDXContent--default > p,
.dfr-MDXContent--default > :global(.dfr-Pre--styled),
.dfr-MDXContent--default > ul,
.dfr-MDXContent--default > a > img,
.dfr-MDXContent--default > *[data-markdown-block] {
	@apply tw-mb-6;
}

.dfr-MDXContent--default > *:last-child {
	@apply tw-mb-0;
}

/* Spacing: nested components */
.dfr-MDXContent--default li > p,
.dfr-MDXContent--default li > :global(.dfr-Pre--styled),
.dfr-MDXContent--default li > blockquote,
.dfr-MDXContent--default li > img,
.dfr-MDXContent--default blockquote > p,
.dfr-MDXContent--default li > a > img {
	@apply tw-mb-3;
}

/* Spacing: titles */
.dfr-MDXContent--default > h1,
.dfr-MDXContent--default > h2,
.dfr-MDXContent--default > h3,
.dfr-MDXContent--default > h4,
.dfr-MDXContent--default *[data-markdown-title] {
	@apply tw-mt-8;
	@apply tw-mb-3;
}

/* Spacing: nested UL lists */
.dfr-MDXContent--default li > ul {
	@apply tw-mt-3;
}

/* Ordered lists */
.dfr-MDXContent--default ol {
	@apply tw-pl-9;
	list-style-type: decimal;
}

.dfr-MDXContent--default ol > li {
	@apply tw-mb-6;
}

/* Images */
.dfr-MDXContent--default > a > img,
.dfr-MDXContent--default li > a > img {
	@apply dfr-shadow;
	@apply tw-rounded-md;
	margin-left: auto;
	margin-right: auto;
}

:global(.tw-dark) .dfr-MDXContent--default > a > img,
:global(.tw-dark) .dfr-MDXContent--default li > a > img {
	@apply dark-v-dfr-shadow;
}
