// BASE
* {
  box-sizing: border-box;
  line-height: 1.3em;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-color: #333333;
  color: white;
  cursor: default;
  font-family: 'Handlee', cursive;
  font-size: 18px;
  padding: 20px;
}

span {
  vertical-align: middle;
}

// LAYOUT
.main-container {
  border-radius: 25px;
  box-shadow: 0px 0px 5px 0px #000;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  max-width: 500px;
  overflow: hidden;
  width: 100%;
}

.header {
  background-color: black;
  flex-direction: row;
  flex-shrink: 0;
  padding: 15px 0;

  .profile-picture {
    border-radius: 100%;
    height: 100px;
    width: 100px;
  }

  .header-info-column {
    padding: 10px 15px;

    .emoji {
      font-size: 1rem;
      margin-right: 5px;
    }

    .name {
      font-size: 1.2em;
      font-weight: 700;
      margin: 0 0 0.2em 0;
    }

    .profession {
      font-size: 1em;
      font-weight: 400;
    }

    .location {
      color: white !important;
      font-size: 0.8em;
      font-weight: 100;
      text-decoration: none;
    }
  }
}

.body {
  background-color: #242424;
  flex-grow: 1;
  padding: 20px;

  > section {
    height: 0;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .block {
    .main {
      color: #67c7be;
      font-weight: 700;

      .emoji {
        font-size: 1.5em;
        margin-right: 5px;
      }
    }

    .description {
      color: #a4aab1;
      font-style: italic;

      .repo-link,
      .link {
        background-color: #333333;
        border-radius: 5px;
        color: #e59b6f !important;
        display: inline-block;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        margin: 3px;
        padding: 2px 5px;
        text-decoration: none;
        vertical-align: middle;
      }

      .emoji {
        font-size: 1.3rem;
        font-style: normal;
        margin-right: 5px;
      }
    }

    &--experience {
      .link {
        font-size: 1rem;
      }
    }
  }
}

// COMPONENTS
.no-emoji {
  display: none;
}

.no-emojis-support {
  .emoji,
  .no-emoji-hide {
    display: none;
  }

  .no-emoji {
    display: inline-block;
  }
}

#login-flag {
  background-color: white;
  bottom: 5px;
  display: none;
  height: 10px;
  position: fixed;
  right: 5px;
  width: 10px;
}

// SCROLLBAR
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
}

// UTIL
.u-text-center {
  text-align: center;
}

.u-text-right {
  text-align: right;
}

.u-text-left {
  text-align: left;
}

.u-flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

// MEDIA-QUERIES

@media screen and (max-width: 767px) {
  body {
    height: auto;
    overflow: auto;
    width: auto;
  }

  .main-container {
    height: auto;
  }

  .header {
    flex-direction: column;
    padding-top: 20px;

    .header-info-column {
      padding-left: 0;
      padding-right: 0;
      text-align: center;
    }

    .profile-picture {
      height: 75px;
      width: 75px;
    }
  }

  .body {
    > section {
      height: auto;
      min-height: auto;
      overflow: hidden;
    }
  }
}
