/* --- LIBS --- */

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./variables.css";
@import "./radix-ui.css";
@import "./sugar-high.css";

/* --- COMPONENTS & PAGES --- */

@import "./../modules/pages/kordz/pages/SongPage.styles.css";

/* --- GLOBAL --- */

* {
	box-sizing: border-box;
}

body {
	@apply dr-font-texts;
	@apply dr-text-color-surface-600;
	@apply tw-bg-black;
	cursor: default;
	font-size: 18px;
	overflow: auto;
	scroll-behavior: smooth;
	scrollbar-gutter: stable;
	word-break: break-word;

	/* PRINT STYLES */
	-webkit-print-color-adjust: exact !important;
	print-color-adjust: exact !important;
}

body.scroll-disabled {
	overflow: hidden;
}

/* --- SCROLLBAR --- */

::-webkit-scrollbar {
	@apply dr-bg-color-surface-200;
	height: 7.5px;
	width: 7.5px;
}

/* Track */
::-webkit-scrollbar-track {
	background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	@apply dr-bg-color-surface-400;
	@apply tw-rounded-md;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	@apply dr-bg-color-surface-300;
}

body.mobile ::-webkit-scrollbar-thumb {
	display: none;
}

/* --- UTILS --- */

.windows-os .win\:tw-inline-block {
	display: inline-block;
}

.windows-os .win\:tw-inline {
	display: inline;
}

.windows-os .win\:tw-hidden {
	display: none;
}
