/* --- TAILWIND CONFIG --- */

@import "tailwindcss";

/* prettier-ignore */
@source inline("bg-{slate,gray,zinc,neutral,stone,red,orange,amber,yellow,lime,green,emerald,teal,cyan,sky,blue,indigo,violet,purple,fuchsia,pink,rose}-{50,100,200,300,400,500,600,700,800,900,950}");

/* prettier-ignore */
@source inline("max-w-{0,px,0.5,1,1.5,2,2.5,3,3.5,4,5,6,7,8,9,10,11,12,14,16,20,24,28,32,36,40,44,48,52,56,60,64,72,80,96,112,128,144,160,192,xs,sm,md,lg,xl,2xl,3xl,4xl,5xl,6xl,7xl,full,min,max,fit,prose,screen-sm,screen-md,screen-lg,screen-xl,screen-2xl,screen-3xl,screen-4xl,screen-5xl,screen-6xl,screen-7xl,screen-8xl}");

/* prettier-ignore */
@source inline("m{t,b,l,r,x,y,}-{px,0,0.5,1,1.5,2,2.5,3,3.5,4,5,6,7,8,9,10,11,12,14,16,20,24,28,32,36,40,44,48,52,56,60,64,72,80,96,112,128,144,160,192}");

/* prettier-ignore */
@source inline("size-{px,0,0.5,1,1.5,2,2.5,3,3.5,4,5,6,7,8,9,10,11,12,14,16,20,24,28,32,36,40,44,48,52,56,60,64,72,80,96,112,128,144,160,192}");

/* --- TAILWIND EXTENDS --- */

@theme {
	--font-texts: var(--next-font-texts);
	--font-titles: var(--next-font-titles);
	--font-special: var(--next-font-special);
	--animate-intermitent: intermitent 1.5s infinite;
	--spacing-dv-screen: 100dvh;

	@keyframes intermitent {
		0% {
			opacity: 0;
		}
		50% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}
}

@utility u-body-max-width {
	@apply mx-auto max-w-3xl;
}

@utility u-transition-opacity {
	@apply transition-opacity duration-500 hover:opacity-75;
}

/* --- GLOBAL --- */

* {
	box-sizing: border-box;
}

html,
body,
body > #__next {
	height: 100%;
}

body {
	@apply font-texts;
	@apply bg-white;
	@apply text-zinc-700;
	cursor: default;
	font-size: 18px;
	word-break: break-word;

	/* SCROLLING STYLES */
	overflow-y: auto;
	scrollbar-width: thin;
	scroll-behavior: smooth;

	/* PRINT STYLES */
	-webkit-print-color-adjust: exact !important;
	print-color-adjust: exact !important;
}

body:has(dialog[open]),
body:has(div[data-mobile-menu-open="true"]) {
	overflow: hidden;
}

dialog {
	overscroll-behavior: contain;
}

button {
	outline: 0;
	cursor: pointer;
}

/* --- SCROLLBAR --- */

body.mobile ::-webkit-scrollbar-thumb {
	display: none;
}

.hide-scrollbar::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

/* --- BASE-UI */

.root {
	isolation: isolate;
}

/* --- TOASTS --- */

ol[data-sonner-toaster="true"] {
	li[data-type="error"] {
		@apply text-red-700;
	}

	li[data-type="success"] {
		@apply text-green-700;
	}
}

/* --- SUGAR HIGH --- */

:root {
	--sh-class: #b2b2b2;
	--sh-comment: #a19595;
	--sh-entity: #249a97;
	--sh-identifier: #d1e486;
	--sh-jsxliterals: #abaeff;
	--sh-keyword: #ff867d;
	--sh-property: #80b1ed;
	--sh-sign: #8996a3;
	--sh-string: #00a99a;
}

pre {
	counter-reset: sh-line-number;
}

.sh__line::before {
	counter-increment: sh-line-number 1;
	content: counter(sh-line-number);
	margin-right: 24px;
	text-align: right;
	color: #a4a4a4;
}
