@tailwind utilities;
@tailwind base;
@tailwind components;

/* --- Global --- */

html,
body {
  font-family: "Quicksand", monospace;
  font-display: swap;
}

body {
  @apply dfr-bg-primary;
  @apply dfr-text-color-primary;
  cursor: default;
  font-size: 18px;
  overflow: auto;
  scroll-behavior: smooth;
  word-break: break-word;
}

body.scroll-disabled {
  overflow: hidden;
}

body.no-emojis .emoji {
  display: none;
}

button,
summary {
  outline: transparent !important;
}

a[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

/* --- Dark mode --- */

.tw-dark body {
  @apply value:dark:dfr-bg-primary;
  @apply value:dark:dfr-text-color-primary;
}

.tw-dark .dfr-border-color-primary {
  @apply value:dark:dfr-border-color-primary;
}

.tw-dark input,
.tw-dark textarea {
  @apply value:dark:dfr-bg-secondary;
  @apply value:dark:dfr-text-color-primary;
}

/* --- Toast --- */

/** Used to define container behavior: width, position: fixed etc... **/
.Toastify__toast-container {
}

/** Used to define the position of the ToastContainer **/
.Toastify__toast-container--top-left {
}
.Toastify__toast-container--top-center {
}
.Toastify__toast-container--top-right {
}
.Toastify__toast-container--bottom-left {
}
.Toastify__toast-container--bottom-center {
  bottom: 0;
}
.Toastify__toast-container--bottom-right {
}

/** Classes for the displayed toast **/
.Toastify__toast {
  @apply tw-text-sm;
  border-radius: 0;
  text-align: center;
}
.Toastify__toast--rtl {
}
.Toastify__toast--dark {
}
.Toastify__toast--default {
}
.Toastify__toast--info {
}
.Toastify__toast--success {
  background-color: rgb(35, 38, 35);
}
.tw-dark .Toastify__toast--success {
  background-color: rgb(182, 182, 182);
}
.Toastify__toast--warning {
}
.Toastify__toast--error {
  background-color: rgb(244, 51, 51);
}
.Toastify__toast-body {
}

/** Classes for the close button. Better use your own closeButton **/
.Toastify__close-button {
}
.Toastify__close-button--default {
}
.Toastify__close-button > svg {
}
.Toastify__close-button:hover,
.Toastify__close-button:focus {
}

/** Classes for the progress bar **/
.Toastify__progress-bar {
}
.Toastify__progress-bar--animated {
}
.Toastify__progress-bar--controlled {
}
.Toastify__progress-bar--rtl {
}
.Toastify__progress-bar--default {
}
.Toastify__progress-bar--dark {
}

/* --- NProgress --- */

#nprogress .bar {
  @apply tw-bg-white;
  height: 5px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
