html,
body {
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, Segoe UI, Raleway, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  @apply twc-bg-main;
  @apply twc-text-color-primary;
  cursor: default;
  font-size: 18px;
  overflow: auto;
  scroll-behavior: smooth;
  word-break: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply twc-text-color-secondary;
  font-weight: bold;
}

button,
a {
  @apply tw-transition-opacity;
}

button:hover,
a:hover {
  @apply tw-opacity-75;
}

/* --- Dark mode --- */

.tw-dark body {
  @apply value:dark:twc-bg-main;
  @apply value:dark:twc-text-color-primary;
}

.tw-dark h1,
.tw-dark h2,
.tw-dark h3,
.tw-dark h4,
.tw-dark h5,
.tw-dark h6 {
  @apply value:dark:twc-text-color-secondary;
}

.tw-dark .twc-border-color-primary {
  @apply value:dark:twc-border-color-primary;
}
