@import "./variables.post.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- Global --- */

html,
body {
  font-family: "Lora", monospace;
  font-display: swap;
}

body {
  @apply dfr-bg-color-layout;
  @apply dfr-text-color-primary;
  cursor: default;
  font-size: 18px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
  word-break: break-word;
}

body.scroll-disabled {
  overflow: hidden;
}

/* --- Dark mode --- */

.tw-dark body {
  @apply dark-v-dfr-bg-color-layout;
  @apply dark-v-dfr-text-color-primary;
}

/* --- Toast --- */

/** Used to define container behavior: width, position: fixed etc... **/
.Toastify__toast-container {
  @apply tw-p-4;
}

.tw-dark .Toastify__toast-container {
}

/** Used to define the position of the ToastContainer **/
.Toastify__toast-container--top-left {
}
.Toastify__toast-container--top-center {
}
.Toastify__toast-container--top-right {
}
.Toastify__toast-container--bottom-left {
}
.Toastify__toast-container--bottom-center {
  bottom: 0;
}
.Toastify__toast-container--bottom-right {
}

/** Classes for the displayed toast **/
.Toastify__toast {
  @apply dfr-bg-color-dark-strong;
  @apply tw-bg-opacity-80;
  @apply tw-text-sm;
  border-radius: 0;
  border: 1px solid;
  font-weight: bold;
  text-align: center;
}

.tw-dark .Toastify__toast {
}

.Toastify__toast--rtl {
}

.Toastify__toast--dark {
}

.Toastify__toast--default {
}

.Toastify__toast--info {
}

.Toastify__toast--success {
  @apply tw-border-green-500;
  @apply tw-text-green-500;
}

.Toastify__toast--success .Toastify__close-button {
  @apply tw-text-green-500;
}

.Toastify__toast--warning {
}

.Toastify__toast--error {
  @apply tw-border-red-500;
  @apply tw-text-red-500;
}

.Toastify__toast--error .Toastify__close-button {
  @apply tw-text-red-500;
}

.Toastify__toast-body {
}

/** Classes for the close button. Better use your own closeButton **/
.Toastify__close-button {
}

.Toastify__close-button--default {
}

.Toastify__close-button > svg {
}

.Toastify__close-button:hover,
.Toastify__close-button:focus {
}

/** Classes for the progress bar **/
.Toastify__progress-bar {
}

.Toastify__progress-bar--animated {
}

.Toastify__progress-bar--controlled {
}

.Toastify__progress-bar--rtl {
}

.Toastify__progress-bar--default {
}

.Toastify__progress-bar--dark {
}

/* --- NProgress --- */

#nprogress .bar {
  @apply dfr-bg-colorful-primary-100;
  height: 5px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
