body {
	--dfr-max-w-layout: 768px;
	--dfr-font-family: "Mulish", monospace;
	--dfr-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
	--dfr-bg-color-primary: #fff;
	--dfr-bg-color-secondary: #f9fafb;
	--dfr-bg-color-tertiary: #f3f4f6;
	--dfr-border-color-primary: #e5e7eb;
	--dfr-text-color-primary: rgba(75, 85, 99, 1);
	--dfr-text-color-secondary: rgba(156, 163, 175, 1);
	--dfr-text-color-links: rgba(217, 119, 6, 1);
	--dfr-text-color-inline-code: rgba(220, 38, 38, 1);
	--dfr-bg-color-gs-white: #fff;
	--dfr-text-color-gs-white: rgba(255, 255, 255, 1);
	--dfr-border-t-color-gs-white: #fff;
	--dfr-border-r-color-gs-white: #fff;
	--dfr-border-b-color-gs-white: #fff;
	--dfr-border-l-color-gs-white: #fff;
	--dfr-border-color-gs-white: #fff;
	--dfr-bg-color-gs-400: #9ca3af;
	--dfr-text-color-gs-400: rgba(156, 163, 175, 1);
	--dfr-border-t-color-gs-400: #9ca3af;
	--dfr-border-r-color-gs-400: #9ca3af;
	--dfr-border-b-color-gs-400: #9ca3af;
	--dfr-border-l-color-gs-400: #9ca3af;
	--dfr-border-color-gs-400: #9ca3af;
	--dfr-bg-color-gs-700: #374151;
	--dfr-text-color-gs-700: rgba(55, 65, 81, 1);
	--dfr-border-t-color-gs-700: #374151;
	--dfr-border-r-color-gs-700: #374151;
	--dfr-border-b-color-gs-700: #374151;
	--dfr-border-l-color-gs-700: #374151;
	--dfr-border-color-gs-700: #374151;
	--dfr-bg-color-gs-black: #000;
	--dfr-text-color-gs-black: rgba(0, 0, 0, 1);
	--dfr-border-t-color-gs-black: #000;
	--dfr-border-r-color-gs-black: #000;
	--dfr-border-b-color-gs-black: #000;
	--dfr-border-l-color-gs-black: #000;
	--dfr-border-color-gs-black: #000;
	--dfr-bg-color-bw: #000;
	--dfr-text-color-bw: rgba(0, 0, 0, 1);
	--dfr-border-t-color-bw: #000;
	--dfr-border-r-color-bw: #000;
	--dfr-border-b-color-bw: #000;
	--dfr-border-l-color-bw: #000;
	--dfr-border-color-bw: #000;
	--dfr-bg-color-wb: #fff;
	--dfr-text-color-wb: rgba(255, 255, 255, 1);
	--dfr-border-t-color-wb: #fff;
	--dfr-border-r-color-wb: #fff;
	--dfr-border-b-color-wb: #fff;
	--dfr-border-l-color-wb: #fff;
	--dfr-border-color-wb: #fff;
}

.tw-dark body {
	--dfr-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
		rgb(31, 41, 55) 0px 1px 2px 0px;
	--dfr-bg-color-primary: #1a1e23;
	--dfr-bg-color-secondary: #1f2328;
	--dfr-bg-color-tertiary: #374151;
	--dfr-border-color-primary: #374151;
	--dfr-text-color-primary: rgba(156, 163, 175, 1);
	--dfr-text-color-secondary: rgba(107, 114, 128, 1);
	--dfr-text-color-links: rgba(248, 113, 113, 1);
	--dfr-text-color-inline-code: rgba(251, 191, 36, 1);
	--dfr-bg-color-gs-white: #fff;
	--dfr-text-color-gs-white: rgba(255, 255, 255, 1);
	--dfr-border-t-color-gs-white: #fff;
	--dfr-border-r-color-gs-white: #fff;
	--dfr-border-b-color-gs-white: #fff;
	--dfr-border-l-color-gs-white: #fff;
	--dfr-border-color-gs-white: #fff;
	--dfr-bg-color-gs-400: #9ca3af;
	--dfr-text-color-gs-400: rgba(156, 163, 175, 1);
	--dfr-border-t-color-gs-400: #9ca3af;
	--dfr-border-r-color-gs-400: #9ca3af;
	--dfr-border-b-color-gs-400: #9ca3af;
	--dfr-border-l-color-gs-400: #9ca3af;
	--dfr-border-color-gs-400: #9ca3af;
	--dfr-bg-color-gs-700: #374151;
	--dfr-text-color-gs-700: rgba(55, 65, 81, 1);
	--dfr-border-t-color-gs-700: #374151;
	--dfr-border-r-color-gs-700: #374151;
	--dfr-border-b-color-gs-700: #374151;
	--dfr-border-l-color-gs-700: #374151;
	--dfr-border-color-gs-700: #374151;
	--dfr-bg-color-gs-black: #000;
	--dfr-text-color-gs-black: rgba(0, 0, 0, 1);
	--dfr-border-t-color-gs-black: #000;
	--dfr-border-r-color-gs-black: #000;
	--dfr-border-b-color-gs-black: #000;
	--dfr-border-l-color-gs-black: #000;
	--dfr-border-color-gs-black: #000;
	--dfr-bg-color-bw: #fff;
	--dfr-text-color-bw: rgba(255, 255, 255, 1);
	--dfr-border-t-color-bw: #fff;
	--dfr-border-r-color-bw: #fff;
	--dfr-border-b-color-bw: #fff;
	--dfr-border-l-color-bw: #fff;
	--dfr-border-color-bw: #fff;
	--dfr-bg-color-wb: #000;
	--dfr-text-color-wb: rgba(0, 0, 0, 1);
	--dfr-border-t-color-wb: #000;
	--dfr-border-r-color-wb: #000;
	--dfr-border-b-color-wb: #000;
	--dfr-border-l-color-wb: #000;
	--dfr-border-color-wb: #000;
}
