body { --dfr-max-w-layout: 768px;
--dfr-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
--dark--dfr-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
--dfr-bg-color-layout: #fff;
--dark--dfr-bg-color-layout: #282c34;
--dfr-bg-color-primary: #f3f4f6;
--dark--dfr-bg-color-primary: #374151;
--dfr-border-color-primary: #e5e7eb;
--dark--dfr-border-color-primary: #4b5563;
--dfr-text-color-primary: #374151;
--dark--dfr-text-color-primary: #f3f4f6;
--dfr-text-color-secondary: #6b7280;
--dark--dfr-text-color-secondary: #9ca3af;
--dfr-link-color-primary: #ca8a04;
--dark--dfr-link-color-primary: #f87171;
--dfr-bg-colorful-primary-100: #ca8a04;
--dfr-bg-colorful-primary-200: #a16207;
--dfr-text-colorful-primary-100: #ca8a04;
--dfr-text-colorful-primary-200: #a16207;
--dfr-border-t-colorful-primary-100: #ca8a04;
--dfr-border-t-colorful-primary-200: #a16207;
--dfr-border-r-colorful-primary-100: #ca8a04;
--dfr-border-r-colorful-primary-200: #a16207;
--dfr-border-b-colorful-primary-100: #ca8a04;
--dfr-border-b-colorful-primary-200: #a16207;
--dfr-border-l-colorful-primary-100: #ca8a04;
--dfr-border-l-colorful-primary-200: #a16207;
--dfr-border-colorful-primary-100: #ca8a04;
--dfr-border-colorful-primary-200: #a16207;
--dfr-bg-colorful-secondary-100: #b91c1c;
--dfr-bg-colorful-secondary-200: #f87171;
--dfr-text-colorful-secondary-100: #b91c1c;
--dfr-text-colorful-secondary-200: #f87171;
--dfr-border-t-colorful-secondary-100: #b91c1c;
--dfr-border-t-colorful-secondary-200: #f87171;
--dfr-border-r-colorful-secondary-100: #b91c1c;
--dfr-border-r-colorful-secondary-200: #f87171;
--dfr-border-b-colorful-secondary-100: #b91c1c;
--dfr-border-b-colorful-secondary-200: #f87171;
--dfr-border-l-colorful-secondary-100: #b91c1c;
--dfr-border-l-colorful-secondary-200: #f87171;
--dfr-border-colorful-secondary-100: #b91c1c;
--dfr-border-colorful-secondary-200: #f87171;
--dfr-bg-color-dark-strong: #000;
--dfr-text-color-dark-strong: #000;
--dfr-border-t-color-dark-strong: #000;
--dfr-border-r-color-dark-strong: #000;
--dfr-border-b-color-dark-strong: #000;
--dfr-border-l-color-dark-strong: #000;
--dfr-border-color-dark-strong: #000;
--dfr-bg-color-light-strong: #fff;
--dfr-text-color-light-strong: #fff;
--dfr-border-t-color-light-strong: #fff;
--dfr-border-r-color-light-strong: #fff;
--dfr-border-b-color-light-strong: #fff;
--dfr-border-l-color-light-strong: #fff;
--dfr-border-color-light-strong: #fff;
 }