html {
	--dr-font-main-title: var(--font-main-title);
	--dr-font-titles: var(--font-titles);
	--dr-font-texts: var(--font-texts);
	--dr-color-primary-100: #d1d442;
	--dr-color-primary-200: #d7d95b;
	--dr-color-primary-300: #dedd71;
	--dr-color-primary-400: #e3e286;
	--dr-color-primary-500: #e9e79a;
	--dr-color-primary-600: #eeecaf;
	--dr-color-surface-100: #000000;
	--dr-color-surface-200: #1e1e1e;
	--dr-color-surface-300: #353535;
	--dr-color-surface-400: #4e4e4e;
	--dr-color-surface-500: #696969;
	--dr-color-surface-600: #858585;
	--dr-color-surface-mixed-100: #19180d;
	--dr-color-surface-mixed-200: #2e2d24;
	--dr-color-surface-mixed-300: #44443b;
	--dr-color-surface-mixed-400: #5c5b54;
	--dr-color-surface-mixed-500: #75746e;
	--dr-color-surface-mixed-600: #8f8f89;
}
