@tailwind base;
@tailwind components;

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

html,
body,
#__next {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  width: 100%;
}

body {
  @apply tw-text-gray-700;
  cursor: default;
  font-size: 18px;
  word-break: break-word;
}

#__next {
  overflow: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-weight: bold;
}
