body{
	background-image: url('/assets/home/images/bg.png');
	cursor: default;
	height: 100vh;
	margin: 0 auto;
	max-width: 400px;
	box-sizing: border-box;
}

.div-table{
	display: table;
	height: 100%;
	width: 100%;
}

.div-table-cell{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.title{
	margin-bottom: 30px;
	font-family: 'Abril Fatface', cursive;
	padding-left: 10px;
}

.link-wrapper-row{
	margin: 0 auto;
}

.link-wrapper-cell{
	width: 40%;
	padding: 10px;
	display: inline-block;

	&:nth-child(1){
		text-align: right;
	}

	&:nth-child(2){
		text-align: left;
	}
}

.link{
	color: #404040;
	font-size: 1.1em;
	text-decoration: none;
	display: block;
}

.icon{
	vertical-align: middle;
	width: 24px;
}

.link-text{
	vertical-align: middle;
	font-family: consolas;
}