// BASE
body{
	background-image: url('/assets/home/images/bg.png');
	box-sizing: border-box;
	cursor: default;
	height: 100vh;
	margin: 0 auto;
	max-width: 400px;
}



// LAYOUT
.main-container{
	display: table;
	height: 100%;
	width: 100%;

	&__cell{
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}
}


// MODULES
.title{
	font-family: 'Abril Fatface', cursive;
	font-size: 2em;
	padding-left: 20px;
}

.links-container-row{
	margin: 0 auto;
}

.link-container-cell{
	width: 40%;
	padding: 10px;
	display: inline-block;
}

.link{
	font-size: 1.1em;
	text-decoration: none;
	display: block;

	&__icon{
		vertical-align: middle;

		&--about-me{
			width: 29px;
		}
	}

	&__text{
		color: black;
		font-family: consolas;
		padding-bottom: 1px;
		vertical-align: middle;
	}
}



// UTIL
.u-text-center{
	text-align: center;
}

.u-text-right{
	text-align: right;
}

.u-text-left{
	text-align: left;
}