.TV::before,
.TV::after {
	@apply tw-bg-gray-700;
	@apply tw-w-2;
	@apply tw-h-6;
	content: " ";
	display: block;
	position: absolute;
	top: 90%;
	z-index: 0;
}

:global(.tw-dark) .TV::before,
:global(.tw-dark) .TV::after {
	@apply tw-bg-gray-400;
}

.TV::before {
	transform: rotate(45deg);
	left: 15%;
}

.TV::after {
	transform: rotate(-45deg);
	right: 15%;
}
